@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,200,300,400,500,600,700,800,900|Noto+Serif:100,200,300,400,500,600,700,800,900&display=swap');

html, body {
    overflow-x: hidden;
    height: 100%;
    background-color: #DCE2F4;
}

h1
h2
h3
h4
h5 {
    font-family: 'Crimson Text', serif;
}

p {
    font-family: 'Noto Serif', serif;
}

a {
    text-decoration: none !important;
}

/*----------------------------------------------------------- Images */


.index-image-wrapper img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-bottom:#7A6E11 1px solid;
}

/*----------------------------------------------------------- /Images */

/*----------------------------------------------------------- Nav Bar Styling */

nav {
    background-color: #AEC1BC;
}

.topnav {
    min-height: 100px;
    border-bottom:#7A6E11 2px solid;
    border-top: #7A6E11 2px solid;
}

.topnav-links {
    display: block;
    position: relative;
}

.topnav-links li {    
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 5px 0px;;
    text-align: center;
    border-bottom: 1px solid #0F1E0E;
}

.topnav-links li a {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 600;
    transition: color 1s ease-in-out;
    color: #0F1E0E;
}

.topnav-links li a i {
    padding-right: 7.5px;
    color: #7A6E11;
    transition: transform 1s ease-in-out;
}

.topnal-links li a i {
    transition: 1s ease-in-out;
}

.topnav-links li a:hover{
    transition: color 1s ease-in-out;
    color: #7A6E11;    
}

.topnav-links li a:hover > i {
    transition: 1s ease-in-out;
    transform: rotateZ(30deg);
}

/*---------------------------------------------------------- /Nav Bar Styling */

/*---------------------------------------------------------- Index section */

.index-title-header {    
    border-top: #7A6E11 1px solid;
    border-bottom: #7A6E11 2px solid;
}

.index-header {
    color: #0F1E0E;
    text-align: center;
    margin-top: 2.5px;
}

.index-header-subtitle {
    color: #0F1E0E;
    text-align: center;
    border-bottom: #7A6E11 2px solid;
    margin-top: 10px;
}

.history-container {
    border-bottom: #7A6E11 2px solid;
    padding-top: 5px;
}

.history-content {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #0F1E0E;
}

/*---------------------------------------------------------- /Index section */

/*---------------------------------------------------------- Events Carousel */

.carousel-container {
    padding-top: 20px;
    background-color: #353434;
    min-height: 400px;
    margin-top: 40px;
}

.glyphicon-chevron-left {
    color: #7A6E11;
}

.glyphicon-chevron-left:hover {
    transition: 1s ease-in-out;
    transform: translateX(-6px);
}

.glyphicon-chevron-right {
    color: #7A6E11;
}

.glyphicon-chevron-right:hover {
    transition: 1s ease-in-out;
    transform: translateX(6px);
}

.carousel-inner img{
    display:inline-block;
    margin: auto;
    vertical-align: middle;
}

/*---------------------------------------------------------- /Events Carousel */

/*---------------------------------------------------------- Events Content */

.event-containers {
    padding-top: 20px;
    text-align: center;
    background-color: #DCE2F4;
    padding-bottom: 20px;
    font-family: 'Noto Serif', serif;
}

.event-content {
    display: none;
}

#event-button {
    background-color: #DCE2F4;
    color: #7A6E11;
    font-weight: bolder;
    border: #7A6E11 1.2px solid;
    border-radius: 15px;
    width: 75px;
    height: 50px;
    opacity: 0.5;
    transition: ease-in-out 1s;
}

#event-button:hover {
    transition: ease-in-out 1s;
    opacity: 1;
}

/*---------------------------------------------------------- /Events Content */

/*---------------------------------------------------------- Footer Styling */

footer {
    background-color: #AEC1BC;
}

.footer-main {
    min-height: 75px;
    border-bottom:#7A6E11 2px solid;
    border-top: #7A6E11 2px solid;
}

.footer-title {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 600;
    color: #0F1E0E;
    padding-top: 5px;
}

.footer-items {
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

.footer-items li {
    display: inline;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none
}

.footer-items a i {
    font-size: 25px;
    color: #7A6E11;
    display: inline-block;
}

.footer-items a i:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

/*---------------------------------------------------------- /Footer Styling */

/*---------------------------------------------------------- Keyframes */


@keyframes shake {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(2px, -2px); }
    50% { transform: translate(0px, 0px); }
    75% { transform: translate(-2px, -2px); }
    100% { transform: translate(0px, 0px); }
}

/*---------------------------------------------------------- /Keyframes */

/*---------------------------------------------------------- Media Queries */



@media only screen and (min-width: 768px) {

.topnav {
    padding-top: 7.5px;
    padding-bottom: 2.5px;
    min-height: 20px;
}

.topnav-links li {
    display: inline-block;
    border-bottom: hidden;
    padding-left: 25px;
    vertical-align: middle;
}

.topnav-links li a i {
    padding-right: 5.5px;
}

.topnav-links li:nth-child(5) {
    float: right;
}


}

/*---------------------------------------------------------- /Media Queries */