@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,200,300,400,500,600,700,800,900|Noto+Serif:100,200,300,400,500,600,700,800,900&display=swap');

html, body {
    overflow-x: hidden;
    height: 100%;
    background-color: #DCE2F4;
}

h1
h2
h3
h4
h5 {
    font-family: 'Crimson Text', serif;
}

p {
    font-family: 'Noto Serif', serif;
}

a {
    text-decoration: none !important;
    color: #0F1E0E;
}

/*----------------------------------------------------------- Images */

/*------ Main title image */
.index-image-wrapper img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-bottom:#7A6E11 1px solid;
}

/*------ Jumbotron images */

.jumbotron div img {
    height: auto;
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/*------ 3 photos under events jumbotron */
#index-img-size {
  width: 300px;
}

#index-img-size img {
  max-height: 100%;
  max-width: 100%;
}

/*----------------------------------------------------------- /Images */

/*----------------------------------------------------------- Nav Bar Styling */

nav {
    background-color: #AEC1BC;
}

.topnav {
    min-height: 100px;
    border-bottom:#7A6E11 2px solid;
    border-top: #7A6E11 2px solid;
}

.topnav-links {
    display: block;
    position: relative;
}

.topnav-links li {    
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 5px 0px;;
    text-align: center;
    border-bottom: 1px solid #7A6E11;
}

.topnav-links li:nth-child(5) {
    border-bottom: none;
}

.topnav-links li a {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 600;
    transition: color 1s ease-in-out;
    color: #0F1E0E;
    cursor: pointer;
}

.topnav-links li a i {
    padding-right: 7.5px;
    color: #7A6E11;
    transition: transform 1s ease-in-out;
}

.topnav-links li a:hover{
    transition: color 1s ease-in-out;
    color: #7A6E11;    
}

.topnav-links li a:hover > i {
    transition: 1s ease-in-out;
    transform: rotateZ(30deg);
}

/*---------------------------------------------------------- /Nav Bar Styling */

/*---------------------------------------------------------- Modal Contact Popup */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #DCE2F4 0.1;
}

.modal-content {
    background-color: #DCE2F4;
    margin: 10% auto; 
    padding: 10px;
    border: #7A6E11 1.5px solid;
    width: 75%;
    animation-name: animatein;
    animation-duration: 0.8s;
}

.modal-header {
    text-align: center;
}

.modal-header h3 {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

.close {
    color: #0F1E0E;
    float: right;
    font-size: 30px;
    font-weight: 600;
    padding-right: 10px;
    padding-top: 10px;
}

.close:hover {
    color: #7A6E11;
    text-decoration: none;
    cursor: pointer;
}

.form-control {
    color: #0F1E0E;
    font-family: 'Noto Serif', serif;
}

.form-control p {
    color: #0F1E0E;
    font-family: 'Noto Serif', serif;
}

.modal-send-button {
    background-color: #DCE2F4;
    color: #7A6E11;
    font-family: 'Crimson Text', serif;
    border: #7A6E11 1px solid;
    transition: 1s ease-in-out;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
}

.modal-send-button:hover {
    color: #DCE2F4;
    background-color: #7A6E11;
    transition: 1s ease-in-out;
}

.alert-success {
    background-color: bada55;
    color: #0F1E0E;
    padding-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    display: none;
    border-bottom: #7A6E11 solid 2px;
    animation-name: animatedrop;
    animation-duration: 1s;
}

/*---------------------------------------------------------- Index section */

#main-header-padding {
    padding-top: 15px;
    padding-bottom: 10px;
}

.index-title-header {    
    border-top: #7A6E11 1px solid;
    border-bottom: #7A6E11 2px solid;
    font-family: 'Crimson Text', serif;
}

.index-header {
    color: #0F1E0E;
    text-align: center;
    margin-top: 2.5px;
}

.index-header-subtitle {
    color: #0F1E0E;
    text-align: center;
    border-bottom: #7A6E11 2px solid;
    margin-top: 10px;
    font-family: 'Crimson Text', serif;
}

.history-container {
    border-bottom: #7A6E11 2px solid;
    padding-top: 5px;
}

.history-content {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #0F1E0E;
    font-family: 'Noto Serif', serif;
    text-align: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------------------------- /Index section */

/*---------------------------------------------------------- Additional page headers */

.subpage-title {
    border-top: #7A6E11 1px solid;
    border-bottom: #7A6E11 2px solid;
    padding-bottom: 10px;
}

.subpage-title h1 {
    font-family: 'Crimson Text', serif;
    color: #0F1E0E;
    text-align: center;
    font-weight: 700;
}

#add-top-border {
    border-top: #7A6E11 2px solid;
    padding-top: 7.5px;
}

/*---------------------------------------------------------- /Additional page headers */

/*---------------------------------------------------------- Index Jumbotron */

.jumbotron {
    background-color: #DCE2F4;
    max-height: 600px;
    display: none;
}

/*---------------------------------------------------------- /Index Jumbotron */

/*---------------------------------------------------------- Events Content */

.event-containers {
    padding-top: 20px;
    text-align: center;
    background-color: #DCE2F4;
    padding-bottom: 20px;
    font-family: 'Noto Serif', serif;
}

.event-content {
    display: none;
}

.event-button {
    background-color: #DCE2F4;
    color: #7A6E11;
    font-weight: bolder;
    border: #7A6E11 1.2px solid;
    border-radius: 15px;
    width: 75px;
    height: 50px;
    opacity: 0.5;
    transition: ease-in-out 1s;
}

.event-button:hover {
    transition: ease-in-out 1s;
    opacity: 1;
}

/*---------------------------------------------------------- /Events Content */

/*---------------------------------------------------------- Transport */

.transport-header {
    color: #0F1E0E;
    text-align: center;
    border-bottom: #7A6E11 2px solid;
    border-top: #7A6E11 2px solid;
    margin-top: 10px;
    padding-top: 10px;
}

.transport-containers {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.transport-headers {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 600;
    color: #0F1E0E;
}

.transport-headers i {
    padding-right: 7.5px;
    padding-left: 7.5px;
    color: #7A6E11;
}

.transport-content {
    font-family: 'Noto Serif', serif;
    color: #0F1E0E;
    padding-top: 5px;
    padding-bottom: 10px;
}

.transport-link {
    color: #7A6E11;
    border: #7A6E11 1.3px solid;
    font-weight: 600;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
    opacity: 0.5;
    transition: ease-in-out 1s;
}

.transport-link:hover {
    transition: ease-in-out 1s;
    opacity: 1;
    color: #7A6E11;
}

/*---------------------------------------------------------- /Transport */

/*---------------------------------------------------------- Attractions Carousel */

.carousel-image-container {
    padding-top: 25px;
    padding-bottom: 10px;
    max-height: 400px;
}

#carousel-image {
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 20px;
}

.button-selectors {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.button-carousel {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: #DCE2F4;
    color: #7A6E11;
    border: #7A6E11 1.5px solid;
    font-weight: 600;
    border-radius: 5px;
    transition: 1s ease-in-out;
}

.button-carousel:hover {
    color: #DCE2F4;
    background-color: #7A6E11;
    transition: 1s ease-in-out;
}

/*---------------------------------------------------------- /Attractions Carousel */

/*---------------------------------------------------------- Attractions 'what to do' */

.individual-attraction {
    padding-top: 10px;
    padding-bottom: 10px;
}

.attraction-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 50px;
}

.attraction-title {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

.attraction-title img {
    padding-right: 5px;
}

.attraction-content {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

#show-hide1 {
    display: none;
}

#show-hide2 {
    display: none;
}

.show-more-less-button {
    background-color: #DCE2F4;
    color: #7A6E11;
    font-weight: bolder;
    border: #7A6E11 1.2px solid;
    border-radius: 15px;
    width: 75px;
    height: 50px;
    opacity: 0.5;
    transition: ease-in-out 1s;
}

.show-more-less-button:hover {
    transition: ease-in-out 1s;
    opacity: 1;
}

/*---------------------------------------------------------- /Attractions 'what to doo' */

/*---------------------------------------------------------- Restaurants */

.restaurant-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 50px;
}

.restaurant-title {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

.restaurant-title img {
    padding-right: 5px;
}

.restaurant-title a {
    transition: color 1s ease-in-out;
}

.restaurant-title a:hover {
    transition: color 1s ease-in-out;
    color: #7A6E11;
}

.restaurant-content {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

.restaurant-menu-link {
    color: #0F1E0E;
    font-weight: 700;
    transition: color 1s ease-in-out;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.restaurant-menu-link:hover {
    color: #7A6E11;
    transition: color 1s ease-in-out;
}

/*---------------------------------------------------------- /Restaurants */

/*---------------------------------------------------------- Hotels */

.hotels-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 50px;
}

.hotels-title {
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

.hotels-title a {
    transition: color 1s ease-in-out;
}

.hotels-title a:hover {
    transition: color 1s ease-in-out;
    color: #7A6E11;
}

.hotels-title img {
    padding-right: 5px;
}

.hotels-content {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

.hotel-menu-link {
    color: #0F1E0E;
    font-weight: 700;
    transition: color 1s ease-in-out;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.hotel-menu-link:hover {
    color: #7A6E11;
    transition: color 1s ease-in-out;
}

.hotel-padding-bottom {
    padding-bottom: 25px;
}

/*---------------------------------------------------------- /Hotels */

/*---------------------------------------------------------- Google Maps API */

.map-container {
    height: 250px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 25px;
}

#map {
    height: 100%;
    width: 100%;
    border: #7A6E11 1.5px solid;
}

/*---------------------------------------------------------- /Google Maps Api */

/*---------------------------------------------------------- Footer Styling */

footer {
    background-color: #AEC1BC;
}

.footer-main {
    min-height: 75px;
    border-bottom:#7A6E11 2px solid;
    border-top: #7A6E11 2px solid;
}

.footer-title {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 600;
    color: #0F1E0E;
    padding-top: 5px;
}

.footer-items {
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

.footer-items li {
    display: inline;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none
}

.footer-items a i {
    font-size: 25px;
    color: #7A6E11;
    display: inline-block;
}

.footer-items a i:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

/*---------------------------------------------------------- /Footer Styling */

/*---------------------------------------------------------- Keyframes */

/* Footer Links Animation */
@keyframes shake {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(2px, -2px); }
    50% { transform: translate(0px, 0px); }
    75% { transform: translate(-2px, -2px); }
    100% { transform: translate(0px, 0px); }
}

/* Modal Animation */
@keyframes animatein {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}

/* Modal Alert Animation */
@keyframes animatedrop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/*---------------------------------------------------------- /Keyframes */

/*---------------------------------------------------------- Media Queries */



@media only screen and (min-width: 768px) {

    .topnav {
        padding-top: 7.5px;
        padding-bottom: 2.5px;
        min-height: 20px;
    }

    .topnav-links li {
        display: inline-block;
        border-bottom: hidden;
        padding-left: 25px;
        vertical-align: middle;
    }

    .topnav-links li a i {
        padding-right: 5.5px;
    }

    .topnav-links li:nth-child(5) {
        float: right;
    }

    .jumbotron {
        display: block;
    }

    /* attractions carousel */

    .carousel-image-container {
        height: 350px;
    }

    #carousel-image {
        width: 60%;
    }

    .attraction-image {
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .restaurant-image {
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hotels-image {
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* button for attractions */
    .show-more-less-button {
        display: none;
    }

    #show-hide1 {
    display: block
    }

    #show-hide2 {
    display: block;
    }

    /* Maps for sizes larger than mobile */
    .map-container {
        width: 500px;
        height: 300px;
    }

}

@media only screen and (min-width: 965px) {

    .carousel-image-container {
        height: 400px;
    }

    #carousel-image {
        width: 50%;
    }

    .attraction-image {
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .restaurant-image {
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hotels-image {
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (min-width: 1200px) {

    .attraction-image {
    height: 150px;
    width: auto;
    }

    .restaurant-image {
    height: 150px;
    width: auto;
    }

    .hotels-image {
    height: 150px;
    width: auto;
    }

}

/*---------------------------------------------------------- /Media Queries */
